{% extends 'base.html' %}
{% block title_extra %}(Working-class Italian gentleman #2){% endblock %}
{% block head_css %}
  <link rel=stylesheet
        href={{ url_for('mario.static', filename='css/no2.css') }}?1>
{% endblock %}
{% block main %}
{% endblock %}
{% block body_js %}
<script src={{ url_for('no2.static', filename='js/vendor/math.js') }}></script>
<script src={{ url_for('no2.static', filename='js/vendor/d3.v5.min.js') }}></script>
<script src={{ url_for('no2.static', filename='js/app/no2.js') }}></script>
{% endblock %}